extends layout

extends index

block login

    #info
        p Bienvenido a #{title}
        p #{description}
        a.btn.btn-block.btn-social.btn-twitter(href='auth/twitter')
            span.fa.fa-twitter
            |  Login con Twitter
        a.btn.btn-block.btn-social.btn-facebook(href='auth/facebook')
            span.fa.fa-facebook
            |  Login con Facebook